{% extends 'base.html' %}

{% block content %}
<form method="POST">{% csrf_token %}
    <h1>Please sign up</h1>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
    <ul>
        <li>
            <label for="inputName">UserName</label>
            <input type="text" id="inputName" name="username" placeholder="UserName" required autofocus>
        </li>
        <li>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required>
        </li>
        <li>
            <button>ボタン</button>
        </li>
    </ul>
</form>

{% endblock content %}