{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="title">記録</div>

<form action="{% url 'app:done_create' %}" method="post">
    {% csrf_token %}
    <ul>
        <li>
            <div class="card">
                <label for="name">問題</label>
                <input id="name" type="text" name="name">
            </div>
            
        </li>
        <li>
            <div class="card">
                <label for="site_url">URL</label>
                <input id="site_url" type="text" name="site_url"> 
            </div>
        </li>
        <li>
            <div class="card">
                <label for="tags">タグ</label>
                <input id="tags" type="text" name="tags"> 
            </div>
        </li>
        <li>
            <div class="card">
                <label for="code">コード</label>
                <textarea id="code" name="code" cols="30" rows="10"></textarea>
            </div>
        </li>
        <li>
            <div class="card">
                <label for="memo">メモ</label>
                <textarea id="memo" name="memo" cols="30" rows="10"></textarea>
            </div>
        </li>
        <li>
            <input type="submit" value="記録" class="button">
            
        </li>
    </ul>    
</form>


<style>
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        font-size: 36px;
        color: rgb(100, 100, 100);
    }
    ul {
        list-style-type: none!important;
        padding-top: 0;
        padding-left: 0;
    }
    li {
        text-align: center;
    }
    label {
        display: inline-block;
        text-align: center;
        width: 7em;
        color: #40444b;
        font-size: bold;
    }
    .card {
        position: relative;
        width: 80%;
        margin: 40px 3%;
    }
    .card input[type='text'], .card textarea {
        font-size: 12px;
        line-height: 15px;
        font-family: sans-serif;

        box-sizing: border-box;
        width: 100%;
        padding: 0.3em;
        transition: 0.1s;
        letter-spacing: 0.5px;
        color: rgb(0, 0, 0);
        border: 2.5px solid #40444b;
        border-radius: 4px;
    }
    .card input[type='text']:hover, .card textarea:hover {
        border: 2.5px solid rgb(45, 155, 45);
        outline: none;
    }
    .card input[type='text']:focus, .card textarea:focus {
        border: 2.5px solid rgb(45, 155, 45);
        outline: none;
    }
    
    .button {
        display       : inline-block;

        border-radius : 5%;
        font-size     : 18pt;
        text-align    : center;
        cursor        : pointer;
        padding       : 12px 12px;
        background    : rgb(255, 255, 255);

        color         : #40444b;
        line-height   : 1em;
        transition    : .3s;
        border        : 2px solid #40444b;
    }
    .button:hover {
        color         : rgb(45, 155, 45);
        border        : 2px solid rgb(45, 155, 45);
    }
    
</style>

{% endblock %}