{% extends "app/base.html" %}

{% block content %}
<div class="title">修正しました！</div>

<ul>
    <li>
        <a href="{% url 'app:top' %}" class="button-link">トップ</a>
    </li>
    <li>
        <a href="{% url 'app:content' pk  %}" class="button-link">内容</a>
    </li>
    <li>
        <a href="{% url 'app:items' %}" class="button-link">検索/一覧</a>
    </li>
</ul>

<style>
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        font-size: 36px;
        color: rgb(100, 100, 100);
    }
    ul {
        list-style-type: none!important;
        padding-left: 0;
        padding-top: 100px;
    }
    li {
        display: flex;
        justify-content: center;
        
        padding: 0.5em;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .button-link {
        display: inline-block;
        width: 60%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        padding: 20px 100px;
        text-decoration: none;
        background: rgb(190, 190, 190);
        color: rgb(255, 255, 255);
    }
    .button-link:hover {
        transition: all .0.5s linear;
        background:  rgb(45, 155, 45);
        color: rgb(255, 255, 255);
    }

</style>
{% endblock %}