{% extends "base.html" %}

{% block content %}
<div class="title">修正しました！</div>
<div>
    <ul>
        <li>
            <p>問題 : {{ Problem.name }}</p>
        </li>
        <li>
            <p>URL : {{ Problem.site_url }}</p>
        </li>
        <li>
            <p>タグ : {{ Problem.tags }}</p>
        </li>
        <li>
            <p>コード : {{ Problem.code }}</p>
        </li>
        <li>
            <p>メモ : {{ Problem.memo }}</p>
        </li>
    </ul>    
</div>

<div class="container">
    <ul>
        <li>
            <a href="{% url 'app:top' %}" class="button-link">トップ</a>
        </li>
        <li>
            <a href="{% url 'app:content' pk  %}" class="button-link">内容</a>
        </li>
        <li>
            <a href="{% url 'app:items' %}" class="button-link">一覧</a>
        </li>
    </ul>
</div>

<style>

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul li {
        position: relative;
        list-style-type: none!important;
        padding: 0.5em;
        margin-bottom: 5px;
        line-height: 1.5;
    }

    .button-link {
        display: inline-block;
        padding: 20px 100px;
        text-decoration: none;
        background: rgb(190, 190, 190);
        color: rgb(255, 255, 255);
    }
    .button-link:hover {
        transition: all .0.5s linear;
        background:  rgb(45, 155, 45);
        color: rgb(255, 255, 255);
    }

</style>
{% endblock %}